@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);
@import url(https://fonts.googleapis.com/css?family=Oleo+Script);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

input,textarea,button {
    font-family: 'Lato', sans-serif;
}

.recipeName {
    font-weight: bold;
}

.recipeDescription {
    font-style: italic;
}

.appContainer {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.viewSelectContainer {
    display: flex;
    justify-content: center;
}

.listContainer {
    width: 300px;
    border: solid 1px lightsteelblue;
    border-radius: 3px;
}

.listItemContainer {
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.formContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: gainsboro;
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.menuViewContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.category {
    font-weight: bold;
    font-size: 120%;
    margin-left: 15px;
    margin-top: 15px;
    color: steelblue;
}

.editButton {
}

.notesButton {
    margin-top: 5px;
}
.notesButtonContainer {
    text-align: center;
}

.listFirstRow {
    display: Flex;
    justify-content: space-between;
}

.formButtonRow {
    display: flex;
    justify-content: flex-end;
}

.formContainer input,textarea{
    margin: 0px 20px 0px 20px;
}

.formContainer label{
    margin: 10px 20px 0px 20px;
    font-weight: bold;
}

.styleSelectContainer {
    width: 300px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.headerSelectContainer {
    width:300px;
}

.menuSelectContainer {
    width:300px;
}

.styleEditBox {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.styleItem {
    margin: 5px 0px 5px 10px;
}

.AddRecipeContainer {
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-flow: column nowrap;

}

.menuSelectContainer {
    display: flex;
    flex-flow: column nowrap;
}

.saveMenuForm {
    display: flex;
    flex-flow: row nowrap;

}

.menuViewSection {
    display: flex;
    flex-flow: row nowrap;
    margin: 2px 0px 2px 0px;
    padding: 2px 2px 2px 2px;
    width: 300px;
    border: solid 1px lightgrey;
    border-radius: 3px;
    background-color: white;

    justify-content: flex-end;
}
.menuViewSection :hover {
    background-color: ghostwhite;
}

.menuViewSectionLabel {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    color: steelblue;
    font-weight: bold;
}

.headerFormContainer {
    display: flex;
    flex-flow: column nowrap;
}

.currentStyle {
    display: flex;
    justify-content: center;
    color: ghostwhite;
    background: darkgray;
}