body {
    background-color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

input,textarea,button {
    font-family: 'Lato', sans-serif;
}

.recipeName {
    font-weight: bold;
}

.recipeDescription {
    font-style: italic;
}

.appContainer {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.viewSelectContainer {
    display: flex;
    justify-content: center;
}

.listContainer {
    width: 300px;
    border: solid 1px lightsteelblue;
    border-radius: 3px;
}

.listItemContainer {
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.formContainer {
    display: flex;
    flex-flow: column nowrap;
    background-color: gainsboro;
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.menuViewContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.editButton {
}

.notesButton {
    margin-top: 5px;
}
.notesButtonContainer {
    text-align: center;
}

.listFirstRow {
    display: Flex;
    justify-content: space-between;
}

.formButtonRow {
    display: flex;
    justify-content: flex-end;
}

.formContainer input,textarea{
    margin: 0px 20px 0px 20px;
}

.formContainer label{
    margin: 10px 20px 0px 20px;
    font-weight: bold;
}

.styleSelectContainer {
    width: 300px;
    border: solid 1px lightgrey;
    border-radius: 3px;
}

.styleEditBox {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.styleItem {
    margin: 5px 0px 5px 10px;
}