.recipeDescription {
    font-style: italic;
}

.appContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.editButton {
}

.notesButton {
    margin-top: 5px;
}
.notesButtonContainer {
    text-align: center;
}

.listContainer {
    width: 300px;
    border: solid 1px slateblue;
}

.listItemContainer {
    margin: 10px 10px 0px 10px;
    padding: 5px 5px 5px 5px;
    border: solid 1px lightgrey;
}

.listFirstRow {
    display: Flex;
    justify-content: space-between;
}